@layer theme, base, components, utilities;
@import "tailwindcss/theme.css" layer(theme);
@import "tailwindcss/preflight.css" layer(base);
@import "tailwindcss/utilities.css";

@import "@spartan-ng/brain/hlm-tailwind-preset.css";
/* You can add global styles to this file, and also import other style files */

@import "maplibre-gl/dist/maplibre-gl.css";

:root {
	color-scheme: light;

	--font-sans:
		-apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue",
		Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji",
		"Segoe UI Symbol", "Noto Color Emoji";

	--radius: 0.625rem;
	--background: oklch(0.9613 0.007 88.64);
	--foreground: oklch(0.1913 0 0);
	--card: oklch(0.9763 0.007 88.64);
	--card-foreground: oklch(0.1913 0 0);
	--popover: oklch(0.9763 0.007 88.64);
	--popover-foreground: oklch(0.1913 0 0);
	--primary: oklch(76.9% 0.188 70.08);
	--primary-foreground: oklch(0.985 0 0);
	--secondary: oklch(1 0 0);
	--secondary-foreground: oklch(0.3952 0.0157 86.89);
	--muted: oklch(1 0 0);
	--muted-foreground: oklch(0.5147 0.0147 86.88);
	--accent: oklch(1 0 0);
	--accent-foreground: oklch(0.3952 0.0157 86.89);
	--destructive: oklch(0.577 0.245 27.325);
	--border: oklch(0.9162 0.0141 88.69);
	--input: oklch(0.9492 0.0111 89.72);
	--ring: oklch(0.8369 0.0203 87.53);
	--sidebar: oklch(0.985 0 0);
	--sidebar-foreground: oklch(0.1913 0 0);
	--sidebar-primary: oklch(0.21 0.006 285.885);
	--sidebar-primary-foreground: oklch(0.985 0 0);
	--sidebar-accent: oklch(1 0 0);
	--sidebar-accent-foreground: oklch(0.21 0.006 285.885);
	--sidebar-border: oklch(0.9162 0.0141 88.69);
	--sidebar-ring: oklch(0.8369 0.0203 87.53);
}

:root.dark {
	color-scheme: dark;

	--background: oklch(0.1954 0.0079 95.46);
	--foreground: oklch(0.9484 0.015 94.2);
	--card: oklch(0.2186 0.0082 84.59);
	--card-foreground: oklch(0.9484 0.015 94.2);
	--popover: oklch(0.2186 0.0082 84.59);
	--popover-foreground: oklch(0.9484 0.015 94.2);
	--primary: oklch(0.828 0.189 84.43);
	--primary-foreground: oklch(0.2186 0.0082 84.59);
	--secondary: oklch(0.2604 0.0113 91.72);
	--secondary-foreground: oklch(0.8726 0.0181 92.7);
	--muted: oklch(0.2604 0.0113 91.72);
	--muted-foreground: oklch(0.7128 0.0237 89.84);
	--accent: oklch(0.2604 0.0113 91.72);
	--accent-foreground: oklch(0.8726 0.0181 92.7);
	--destructive: oklch(0.704 0.191 22.216);
	--border: oklch(0.3369 0.0158 91.74);
	--input: oklch(0.2939 0.013 87.57);
	--ring: oklch(0.4044 0.0261 95.65);
	--sidebar: oklch(0.2186 0.0082 84.59);
	--sidebar-foreground: oklch(0.9484 0.015 94.2);
	--sidebar-primary: oklch(0.9484 0.015 94.2);
	--sidebar-primary-foreground: oklch(0.2186 0.0082 84.59);
	--sidebar-accent: oklch(0.2604 0.0113 91.72);
	--sidebar-accent-foreground: oklch(0.9484 0.015 94.2);
	--sidebar-border: oklch(0.3369 0.0158 91.74);
	--sidebar-ring: oklch(0.4044 0.0261 95.65);
}

@layer base {
	* {
		@apply border-border outline-ring/50;
	}
	body {
		@apply bg-background text-foreground;
	}
}

@layer utilities {
	.content-width {
		width: 100%;
		max-width: var(--container-5xl); /* 1024px in Tailwind v4 */
		padding-inline: calc(var(--spacing) * 5); /* 20px */
		margin-inline: auto;
	}

	@media (min-width: 40rem) {
		.content-width {
			padding-inline: calc(var(--spacing) * 8); /* 32px */
		}
	}
}
